@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using App.Areas.Identity.Models.AccountViewModels
@using Microsoft.AspNetCore.Identity
@using DAFW_IS220.Models
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<AppUser> SignInManager
@inject App.Areas.Identity.Models.AccountViewModels.RegisterViewModel register
@inject UserManager<AppUser> UserManager
@inject IAuthorizationService authorization
@{
    var resultViewManageMenu = await authorization.AuthorizeAsync(this.User, "ViewManageMenu");
    var resultVieEditorMenu = await authorization.AuthorizeAsync(this.User, "ViewEditorMenu");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- thẻ meta charset hỗ trợ viết tiếng việt -->
    <meta charset="UTF-8">
    <!-- thẻ meta name="viewport" hỗ trợ làm web responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 2 thẻ link và script nhúng vào để sử dụng bootstrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- link đến cdn fontawesome để sử dụng các icon trên web fontawesome.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link đến cdn normalize để chỉnh sửa lại các thuộc tính cơ bản của một trang html để dễ code hơn -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css?_cacheOverride=1696731791293"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- link css -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/thoitrangnam.css">
    <link rel="stylesheet" href="/css/infoProduct.css">
    <link rel="stylesheet" href="/css/GioHang.css">

    <link rel="stylesheet" href="/css/thong_tin_don_hang.css">
    @RenderSection("css", required: false)

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .color_icon {
            border: 1px solid black;
            display: inline-block;
            width: 30px;
            /* Điều chỉnh kích thước theo nhu cầu */
            height: 30px;
            cursor: pointer;
        }

        .selected {
            border: 2px solid red;
            border-radius: 16px;
        }
    </style>
    <title>Home</title>
</head>

<body>
    <partial name="_AlertMessage" />
    <partial name="_AlertDangerMessage" />
    <!-- header -->
    <header class="header_block">
        <!-- class container là một class trong bootstrap5 - ko hiểu thì gg search "container bootstap5 w3school để hiểu" -->
        <div class="container">
            <!-- header_body chứa logo, search, sản phẩm yêu thích, trong giỏ hàng, đăng nhập, đăng xuất -->
            <!-- row là một class  trong bootstrap5 - ko hiểu thì gg search "container bootstap5 w3school để hiểu"-->
            <div class="header_body row">
                <!-- col-sm-2 là một class trong bootstrap5 - ko hiểu thì gg search "container bootstap5 w3school để hiểu" -->
                <div class="header_body__logo col-sm-2">
                    <a asp-controller="Home" asp-action="Index"><img height="48px"
                            src="https://dosi-in.com/images/assets/icons/logo.svg" alt="logo dosi-in"></a>
                </div>
                <div class="header_body__search col-sm-7">
                    @* <form action="">
                    <div class="header_body__search__div_css">
                    <input type="text" placeholder="Tìm kiếm sản phẩm" class="header_body__search__input">
                    <button class="header_body__search__button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    </div>
                    </form> *@
                    <form asp-action="Index" asp-controller="Home" method="get" id="searchForm">
                        <input style="height: 62%; width: 300px;" type="search" placeholder="Tìm kiếm sản phẩm" class="header_body__search__input"
                            name="SearchString" id="searchInput">
                        <button class="header_body__search__button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div class="header_body__option_and_info col-sm-3">
                    <div class="header_body__option_and_info__div_css">
                        <button class="header_body__option_and_info__button">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                        </button>
                        <a style="text-decoration: none; " asp-controller="Cart" asp-action="Index">
                            <button style="height: 100%; color: black;" class="header_body__option_and_info__button">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        </a>
                        <div class="header_body__option_and_info__user__div_css">
                            <button class="header_body__option_and_info__button">
                                <i style="color: black;" class="fa-solid fa-user"></i>
                            </button>
                            @{
                                if (SignInManager.IsSignedIn(User))
                                {
                                    <div class="header_body__option_and_info__user__text">
                                        <span
                                            class="header_body__option_and_info__user__text_taikhoan">@UserManager.GetUserName(User)</span>
                                        <span class="header_body__option_and_info__user__text_xinchao">Xin chào!</span>
                                    </div>
                                    <i class="fa-solid fa-caret-down caret_down_css"></i>
                                    <!--  -->
                                    <div style="z-index: 10000;"
                                        class="header_body__option_and_info__user__select_login_or_logout">
                                        <form id="logoutForm" asp-controller="Account" asp-action="LogOff" asp-area="Identity"
                                            method="post">
                                            <span class="header_body__option_and_info__user__select_login_or_logout__in"
                                                onclick="logout()">Đăng xuất</span>
                                        </form>
                                        @{
                                            if (resultViewManageMenu.Succeeded || resultVieEditorMenu.Succeeded)
                                            {
                                                <a asp-action="Index" asp-controller="HomeAdmin" asp-area="Admin">
                                                    <span class="header_body__option_and_info__user__select_login_or_logout__in">Trang
                                                        admin</span>
                                                </a>
                                            }
                                        }
                                        <a asp-action="Index" asp-controller="Manage" asp-area="Identity">
                                            <span class="header_body__option_and_info__user__select_login_or_logout__in">Cài đặt
                                                tài khoản</span>
                                        </a>
                                        <a asp-action="Index" asp-controller="Delivery">
                                            <span class="header_body__option_and_info__user__select_login_or_logout__in">Thông
                                                tin giao hàng</span>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="header_body__option_and_info__user__text">
                                        <span class="header_body__option_and_info__user__text_taikhoan">Tài khoản</span>
                                        <span class="header_body__option_and_info__user__text_xinchao">Xin chào!</span>
                                    </div>
                                    <i class="fa-solid fa-caret-down caret_down_css"></i>
                                    <!--  -->
                                    <div class="header_body__option_and_info__user__select_login_or_logout">
                                        <a asp-controller="Account" asp-action="Login" asp-area="Identity"><span
                                                class="header_body__option_and_info__user__select_login_or_logout__in">Đăng
                                                nhập</span></a>
                                        @* <span class="header_body__option_and_info__user__select_login_or_logout__in">Đăng
                                ký</span> *@
                                    </div>
                                }
                            }


                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <!-- header_navigation điều hướng đến các danh mục: thời trang nam, nữ, trẻ em -->
            <div class="header_navigation">
                <ul class="header_navigation__ul">
                    <li class="header_navigation__text"><a asp-action="TTNam" asp-controller="Home">Nam</a></li>
                    <li class="header_navigation__text"><a asp-action="TTNU" asp-controller="Home">Nữ</a></li>
                    <li class="header_navigation__text"><a asp-action="TTTREEM" asp-controller="Home">Trẻ em</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Header: END -->
    <!-- Content: BEGIN -->
    @RenderBody()
    <!-- Content: END -->
    <!-- footer -->
    <footer>
        <div class="container_footer">
            <div class="container container_footer_in">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>Giới thiệu</h3>
                        <span>Đây là một trang web bán áo quần, phục vụ cho đồ án môn phát triển web của học sinh trường
                            UIT</span>
                    </div>
                    <div class="col-sm-3">
                        <h3>Thông tin liên hệ</h3>
                        <ul class="footer__contact_info_ul">
                            <li class="foooter__contact_info_li">
                                <i class="fa-solid fa-location-dot"></i>
                                <span>25, Nguyễn Du, Khu Phố 6, phường Linh Trung, TP. Thủ Đức</span>
                            </li>
                            <li class="foooter__contact_info_li">
                                <i class="fa-solid fa-phone"></i>
                                <span>0867474444</span>
                            </li>
                            <li class="foooter__contact_info_li">
                                <i class="fa-solid fa-envelope"></i>
                                <span>email123@gmail.com</span>
                            </li>
                            <li class="foooter__contact_info_li">
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>9h-18h từ thứ 2 đến chủ nhật</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h3>Nội dung chính sách</h3>
                        <ul class="footer__policy_ul">
                            <li class="footer__policy_li">Những câu hỏi thường gặp</li>
                            <li class="footer__policy_li">Chính sách thành viên</li>
                            <li class="footer__policy_li">Chính sách thanh toán</li>
                            <li class="footer__policy_li">Chính sách vận chuyển</li>
                            <li class="footer__policy_li">Chính sách khiếu nại</li>
                            <li class="footer__policy_li">Chính sách đổi trả</li>
                            <li class="footer__policy_li">Chính sách bảo hành</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h3>Fanpage</h3>
                        <i class="contact_info__icon fa-brands fa-facebook"></i>
                        <i class="contact_info__icon fa-brands fa-square-instagram"></i>
                        <i class="contact_info__icon fa-brands fa-linkedin"></i>
                    </div>
                </div>
            </div>
            <div class="bottom_footer">
                <p>
                    Copyright © 2023
                    <a href="">Web_Name</a>
                    .
                    <a href="">Powered by Nhóm 13</a>
                </p>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Sidebar", false)
    <script>
        function logout() {
            document.getElementById("logoutForm").submit();
        }
    </script>
    @RenderSection("ProductDetailScripts", required: false)
    @RenderSection("Scripts", required: false)
    <!-- Thêm jQuery từ CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>

</html>
