@using App.DBModels
@model IEnumerable<DONHANG>

@section css {
    <link rel="stylesheet" href="/css/manage_order.css">
}

<div class="container_ordermanaging">
    <!-- content: start -->
    <div style="margin-left: 0px;" class="content">
        <!-- chart -->
        <div class="content_chart_heading">
            <h3>Hoá đơn</h3>
        </div>

        @* <div class="content_chart_condition row justify-content-evenly">
            <div class="content_chart_condition_input col-sm-6 col-md-3">

                <input type="text" class="form-control" placeholder="Tìm theo tên khách hàng, mã hoá đơn,...">
            </div>
            <div class="content_chart_condition_input col-sm-5 col-md-2">
                <label for="#" class="form-label">Từ ngày</label>
                <input type="text" class="form-control">
            </div>
            <div class="content_chart_condition_input col-sm-5 col-md-2">
                <label for="#" class="form-label">Đến ngày</label>
                <input type="text" class="form-control">
            </div>
            <div class="content_chart_condition_input col-sm-5 col-md-2">
            <label for="#" class="form-label">Trạng thái đơn</label>
            <select class="form-select">
            <option selected value="">Chờ xác nhận</option>
            <option value="">Chờ lấy hàng</option>
            <option value="">Đang giao</option>
            <option value="">Đã huỷ</option>
            </select>
            </div>
            <div class="content_chart_condition_btn col-sm-5 col-md-auto">
                <i class="fa-solid fa-magnifying-glass custom-icon" style="font-size: 30;"></i>
            </div>
        </div> *@

        <div class="content_list_order">
            <table class="table" id="example" >
                <thead>
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">SĐT</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Ngày hoá đơn</th>
                        <th scope="col">Trạng thái</th>
                        <th style="" scope="col">Thanh toán</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td data-label="Order-code">@item.MADH</td>
                                <td data-label="Name">@item.TAIKHOAN.TENKH</td>
                                <td data-label="Phone-number">@item.TAIKHOAN.PhoneNumber</td>
                                <td data-label="Address">@item.TAIKHOAN.DIACHI</td>
                                <td data-label="Day">@item.NGAYMUA</td>
                                <td><button type="button" class="btn_status"
                                        id="btn-status-deliveried">@item.TRANGTHAIDONHANG</button>
                                </td>
                                <td><button type="button" id="btn-payment-after">@item.TRANGTHAITHANHTOAN</button>
                                </td>
                                <td data-label="Subtotal">@item.TONGTIEN</td>
                                <td data-label="update">
                                    <div class="icon-update">
                                        <i class="fa-solid fa-eye" style="color: #4656aa;"></i>
                                        <a asp-action="Delete" asp-route-id="@item.MADH"><i class="fa-solid fa-eraser" style="color: red;"></i></a>
                                        <a asp-action="Edit" asp-route-id="@item.MADH"><i class="fa-solid fa-pen-to-square"
                                                style="color: #12f33f;"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    @* <tr>
                    <td data-label="Order-code">#3412</td>
                    <td data-label="Name">Nguyễn Thị Mai Liên</td>
                    <td data-label="Phone-number">0982962117</td>
                    <td data-label="Address">65 Lý Tự Trọng, TPHCM</td>
                    <td data-label="Day">15-06-2023</td>
                    <td><button type="button" id="btn-status-waiting">Chờ xác nhận</button>
                    </td>
                    <td><button type="button" id="btn-status-deliveried">Trả trước</button>
                    </td>
                    <td data-label="Subtotal">540.000</td>
                    <td data-label="update">
                    <div class="icon-update">
                    <i class="fa-solid fa-eye" style="color: #4656aa;"></i>
                    <i class="fa-solid fa-print" style="color: #17aba1;"></i>
                    <i class="fa-solid fa-pen-to-square" style="color: #12f33f;"></i>
                    </div>

                    </td>
                    </tr>
                    <tr>
                    <td data-label="Order-code">#3412</td>
                    <td data-label="Name">Nguyễn Thị Mai Liên</td>
                    <td data-label="Phone-number">0982962117</td>
                    <td data-label="Address">65 Lý Tự Trọng, TPHCM</td>
                    <td data-label="Day">15-06-2023</td>
                    <td><button type="button" id="btn-status-layhang">Chờ lấy hàng</button>
                    </td>
                    <td><button type="button" id="btn-payment-after">Trả sau</button>
                    </td>
                    <td data-label="Subtotal">540.000</td>
                    <td data-label="update">
                    <div class="icon-update">
                    <i class="fa-solid fa-eye" style="color: #4656aa;"></i>
                    <i class="fa-solid fa-print" style="color: #17aba1;"></i>
                    <i class="fa-solid fa-pen-to-square" style="color: #12f33f;"></i>
                    </div>

                    </td>
                    </tr>
                    <tr>
                    <td data-label="Order-code">#3412</td>
                    <td data-label="Name">Nguyễn Thị Mai Liên</td>
                    <td data-label="Phone-number">0982962117</td>
                    <td data-label="Address">65 Lý Tự Trọng, TPHCM</td>
                    <td data-label="Day">15-06-2023</td>
                    <td><button type="button" id="btn-status-canceled">Đã huỷ</button>
                    </td>
                    <td><button type="button" id="btn-payment-after">Trả sau</button>
                    </td>
                    <td data-label="Subtotal">540.000</td>
                    <td data-label="update">
                    <div class="icon-update">
                    <i class="fa-solid fa-eye" style="color: #4656aa;"></i>
                    <i class="fa-solid fa-print" style="color: #17aba1;"></i>
                    <i class="fa-solid fa-pen-to-square" style="color: #12f33f;"></i>
                    </div>

                    </td>
                    </tr> *@
                </tbody>
            </table>
        </div>
    </div>
    <!-- content: end -->
</div>

<partial name="_PagingXTL" model="@ViewBag.pagingmodel" />

@section Scripts
{
    <script>
        var buttons = document.querySelectorAll(".btn_status");
        buttons.forEach(function (button) {
            if (button.textContent.trim() === "Chờ lấy hàng") button.id = "btn-status-layhang";
            else if (button.textContent.trim() === "Chờ xác nhận") button.id = "btn-status-waiting";
            else if (button.textContent.trim() === "Đã giao") button.id = "btn-status-deliveried";
            else if (button.textContent.trim() === "Đang giao") button.id = "btn-status-delivery";
            else button.id = "btn-status-canceled";
        });


    </script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>