@using DAFW_IS220.Models
@using App.DBModels
@model List<CartItem>
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<AppUser> SignInManager
@inject App.Areas.Identity.Models.AccountViewModels.RegisterViewModel register
@inject UserManager<AppUser> UserManager
@inject IAuthorizationService authorization
@{
    Layout = "_HeaderLayout";
    var TENKH = ViewBag.TENKH;
    var phonenumber = ViewBag.userPhone;
    var address = ViewBag.userAddress;
    decimal shipping_costs = 35000;
    decimal total = 0;
    var AddressList = ViewBag.DeliveryInfo as List<THONGTINGIAOHANG>;
    var Address = AddressList.FirstOrDefault();
}

@section css
{
    <link rel="stylesheet" href="/css/thanh_toan.css">
}

<!-- body -->
<div class="Contain_all_payment">
    <div class="col-auto container_all_payment"></div>
    <div class="body_box container col-lg-7 body_payment_content">
        <div class="address_box">
            <div class="address_title row text-start">
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Địa chỉ nhận hàng</span>
                </div>
            </div>
            <div class="address_info row justify-content-between">

                @{
                    if (Address == null)
                    {
                        <div class="col-auto">
                            <span id="show_address" style="color: red;">Chưa có địa chỉ nhận hàng</span>
                        </div>
                        @* <div class="col-auto">
                <a class="ChangeAddress">Thêm địa chỉ mới</a>
                </div> *@
                        <div class="col-auto">
                            <a class="link-dark" data-bs-toggle="collapse" href="" id="add_address"><i
                                    class="fa-solid fa-caret-down"></i></a>
                        </div>
                    }
                    else
                    {
                        <div class="col-auto fw-bold">
                            <span id="show_name">@Address.TENNGUOINHAN</span>
                            <span id="show_phoneNumber">(+84)@Address.SDT</span>
                        </div>
                        <div class="col-auto">
                            <span id="show_address">@Address.DIACHI</span>
                        </div>
                        @* <div class="col-auto">
                <a class="ChangeAddress">Thay đổi</a>
                </div> *@
                        <div class="col-auto">
                            <a class="link-dark" data-bs-toggle="collapse" href="#address_change"><i
                                    class="fa-solid fa-caret-down"></i></a>
                        </div>
                    }
                }

            </div>
        </div>
        <div class="address_change collapse" id="address_change">
            <div class="address_box_container">
                @{
                    if (AddressList != null)
                    {
                        foreach (var item in AddressList)
                        {
                            <div class="address_box">
                                <div class="address_info row">
                                    <div class="col-1">
                                        <input data-deliveryid="@item.MATTGH" type="radio" name="address_radio"
                                            data-bs-toggle="collapse" href="">
                                    </div>
                                    <div class="col-5 fw-bold">
                                        <span id="TNN_@item.MATTGH">@item.TENNGUOINHAN</span>
                                        <span>(+84)<span id="SDT_@item.MATTGH">@item.SDT</span></span>
                                    </div>
                                    <div class="col-6">
                                        <span id="DIACHI_@item.MATTGH">@item.DIACHI</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                @* <div class="address_box">
                <div class="address_info row">
                <div class="col-1">
                <input type="radio" name="address_radio" data-bs-toggle="collapse" href="">
                </div>
                <div class="col-5 fw-bold">
                <span id="TNN_1">Nguyễn Văn B</span>
                <span>(+84)<span id="SDT_1">123456789</span></span>
                </div>
                <div class="col-6">
                <span id="DIACHI_1">1 đường A, phường B, Quận 1, Tp.HCM</span>
                </div>
                </div>
                </div> *@
                <button type="button" class="address_add_button" id="add_address">+ Thêm địa chỉ mới</button>
                <button type="button" class="address_delete_button" id="delete_address">- Xóa địa chỉ</button>
            </div>
        </div>
        <div style="display: none;" class="address_update" id="address_update">
            @* <div class="row mb-2">
            <div class="col-12">
            <label for="#" class="form-label">Tên người nhận hàng</label>
            <input type="text" class="form-control" value="Nguyễn Văn A">
            </div>
            </div> *@
            <div class="row mb-2">
                <div class="col-12">
                    <label class="form-label">Tên người nhận</label>
                    <input id="value_receivername" type="text" class="form-control" value="">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <label class="form-label">Số điện thoại</label>
                    <input id="value_PhoneNumber" type="text" class="form-control" value="">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <label class="form-label">Địa chỉ</label>
                    <input id="value_address" type="text" class="form-control" value="">
                </div>
            </div>
            @* <div class="row mb-2">
            <div class="col-12">
            <label for="#" class="form-label">SĐT</label>
            <input type="text" class="form-control" value="094xxxxxxx">
            </div>
            </div> *@
            @* <div class="row mb-3">
            <div class="col-4">
            <label for="#" class="form-label">Thành phố</label>
            <select class="form-select" required>
            <option selected value="">Tp.HCM</option>
            <option value="">Hà Nội</option>
            <option value="">Đà Nẵng</option>
            </select>
            </div>
            <div class="col-4">
            <label for="#" class="form-label">Quận</label>
            <select class="form-select" required>
            <option selected value="">Quận 1</option>
            <option value="">Quận 2</option>
            <option value="">Quận 3</option>
            <option value="">Quận 4</option>
            <option value="">Quận 5</option>
            </select>
            </div>
            <div class="col-4">
            <label for="#" class="form-label">Phường</label>
            <select class="form-select" required>
            <option selected value="">Phường A</option>
            <option value="">Phường B</option>
            <option value="">Phường C</option>
            <option value="">Phường D</option>
            <option value="">Phường E</option>
            </select>
            </div>
            </div> *@
            <div class="address_update_button_contain row">
                <div>
                    <button class="address_confirm_button btn btn-dark" id="confirm_address">Xác nhận</button>
                    <button class="address_cancel_button btn btn-outline-secondary">Hủy</button>
                </div>

            </div>
        </div>
        <div class="product_list">
            <table>
                <tr>
                    <th class="ps-5" colspan="2">Sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
                @{
                    foreach (var item in Model)
                    {
                        var thanhtien = item.quantity * (item.product != null ? item.product.GIABAN : 0);
                        total += thanhtien;
                        <tr>
                            <td class="col-2">
                                <img class="payment_product rounded mx-auto d-block"
                                    src="http://localhost:5235/contents/Img/Product/@item.product.MainImg" alt="">
                            </td>
                            <td class="col-4">
                                <span class="fw-bold">@item.product.TENSP</span>
                                <br />
                                <span>màu: @item.product.TENMAU, size: @item.product.Size</span>
                            </td>
                            <td class="col-2">@item.product.GIABAN</td>
                            <td class="col-2">@item.quantity</td>
                            <td class="col-2">@(item.product.GIABAN * item.quantity)</td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="payment_info">
            <div style="margin-top: 8px; margin-bottom: 8px;" class="row justify-content-end">
                <div class="col-3">
                    <span>Voucher của shop:</span>
                </div>
                @* <div class="col-2"></div> *@
                <div class="col-4 text-start">
                    <input style="width: 100%;" type="text" name="" id="codevoucher">
                </div>
                <div class="col-2 text-end"><a data-total="@total" data-shippingcost="@shipping_costs" id="voucherconfirm" class="btn btn-primary">Xác nhận</a></div>
            </div>
            <div id="result_voucher" class="col-2 text-end"></div>
            <div class="row justify-content-end">
                <div class="vertical_align_center col-3">
                    <span>Phí vận chuyển:</span>
                </div>
                <div class="col-4">
                    <select class="form-select" required>
                        <option selected value="">Giao hàng tiêu chuẩn</option>
                        <option value="">Giao hàng hỏa tốc</option>
                    </select>
                </div>
                <div class="vertical_align_center horizontal_align_right col-2 text-end">
                    <span>@shipping_costs đ</span>
                </div>
            </div>
            <div class="row justify-content-end box_info_discount_of_voucher">
                <div class="vertical_align_center col-3">
                    <span>Giá voucher giảm:</span>
                </div>
                <div class="col-4">
                </div>
                <div class="vertical_align_center horizontal_align_right col-2 text-end">
                    <span id="Discount_Price">0 đ</span>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="vertical_align_center col-3">
                    <span>Phương thức thanh toán</span>
                </div>
                <div class="col-4">
                    <select class="form-select" required id="TypePayment">
                        <option selected value="1">Thanh toán khi nhận hàng</option>
                        <option value="2">Chuyển khoản</option>
                    </select>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row justify-content-end ">
                <div class="form-group col-9" id="load_form_payment" style="display:none;">
                    <h4> <label>Chọn phương thức thanh toán:</label><br /></h4>
                    <h5>Cách 1: Chuyển hướng sang VNPAY chọn phương thức thanh toán</h5>
                    <label><input type="radio" name="TypePaymentVN" value="0" checked /> Cổng thanh toán VNPAYQR
                    </label>
                    <h5>Cách 2: Tách phương thức thanh toán tại site của Merchant</h5>
                    <label><input type="radio" name="TypePaymentVN" value="1" /> Thanh toán qua ứng dụng hỗ trợ VNPAYQR
                    </label><br />
                    <label><input type="radio" name="TypePaymentVN" value="2" /> ATM-Tài khoản ngân hàng nội địa
                    </label><br />
                    <label><input type="radio" name="TypePaymentVN" value="3" /> Thanh toán qua thẻ quốc tế
                    </label><br />
                </div>
            </div>
            <div class="form-group" id="load_send"></div>
            <div class="row justify-content-end">
                <div class="col-7 text-end">
                    <span class="fs-4">Tổng số tiền:</span>
                </div>
                <div class="col-2 text-end">
                    <span id="Total_price" data-total="@(total + shipping_costs)" data-totalroot="@(total + shipping_costs)"
                        class="discount_price fs-4 fw-bold">@((total + shipping_costs).ToString())đ</span>
                </div>
            </div>
            <div style="text-align: right;">
                <label for="Note">Ghi chú: </label>
                <input type="text" name="Note" id="input_note">
            </div>
        </div>

        <div class="payment_confirm justify-content-end">
            <button data-deliveryid="@(Address?.MATTGH ?? 0)" data-voucherid="0" class="button_confirm float-end" id="btn_checkout">Thanh
                toán</button>
        </div>

    </div>

    @* <div style="height: 150px;" class="col-auto"></div> *@
    <div id="Payment-result"></div>
    @section Scripts
    {
        <script>
            $(document).ready(function () {
                $("#add_address").click(function () {
                    $("#address_update").toggle();
                });

                $("#change_address").click(function () {
                    $("#address_update").toggle();
                });

                $("#confirm_address").click(function (event) {
                    event.preventDefault();
                    var addressValue = $("#value_address").val();
                    var phoneNumber = $("#value_PhoneNumber").val();
                    var receiverName = $("#value_receivername").val();
                    $.ajax({
                        type: "POST",
                        url: "@Url.RouteUrl("changeaddress")",
                        data: {
                            addressValue: addressValue,
                            phoneNumber: phoneNumber,
                            receiverName: receiverName
                        },
                        success: function (result) {
            @* $(".Contain_all_payment").html(result); *@
                                window.location.href = "@Url.RouteUrl("index")";
                        }
                    });
                });

                $("body").on("change", "#TypePayment", function () {
                    var type = $(this).val();
                    $("#load_form_payment").hide();
                    if (type == 2) {
                        $("#load_form_payment").show();
                    }
                });

                $("#voucherconfirm").click(function (event) {
                    event.preventDefault();
                    var code = $("#codevoucher").val();
                    var totalOrder = $(this).attr("data-total");
                    var shippingcost = $(this).attr("data-shippingcost");
                    @* var total = $("#Total_price").attr("data-total");
                    $("#Total_price").text(total.toFixed(2) + "đ"); *@
                    $.ajax({
                        type: "POST",
                        url: "Order/DiscountByVoucher",
                        data: {
                            code: code,
                            totalOrder: totalOrder,
                            shippingcost: shippingcost
                        },
                        success: function (result) {
                            if (result.success) {
                                @* var discountpercent = result.discountnumber *@
                                var total = $("#Total_price").attr("data-total");
                                var totalroot = $("#Total_price").attr("data-totalroot");
                                var discountprice = result.discountPrice;
                                var newTotal = totalroot - discountprice;
                                var voucherid = result.voucherID;

                                $("#Total_price").attr("data-total", newTotal);
                                $("#btn_checkout").attr("data-voucherid", voucherid);
                                $("#Discount_Price").text(discountprice.toFixed(2) + "đ");
                                $("#Total_price").text(newTotal.toFixed(2) + "đ"); // Định dạng hiển thị số có 2 chữ số thập phân
                                $("#result_voucher").text("").css("color", "red");
                            }
                            else{
                                if(result.giadontoithieu > 0) $("#result_voucher").text("Yêu cầu đơn hàng có giá trị tối thiểu " + result.giadontoithieu + "đ!").css("color", "red");
                                else if (result.thoigianbd == 1) $("#result_voucher").text("Chưa đến ngày áp dụng voucher!").css("color", "red");
                                else if (result.thoigiankt == 1) $("#result_voucher").text("Voucher đã hết hạn sử dụng!").css("color", "red");
                                else if (result.soluong == 0) $("#result_voucher").text("Voucher đã hết số lượt sử dụng!").css("color", "red");
                                else $("#result_voucher").text("Mã voucher không chính xác!").css("color", "red");
                            }
                        }
                    });
                });

                $("#btn_checkout").click(function (event) {
                    event.preventDefault();
                    var TypePayment = $("#TypePayment").val();
                    var TypePaymentVN = $("input[name='TypePaymentVN']:checked").val();
                    var Price = $("#Total_price").attr("data-total");
                    var Note = $("#input_note").val();
                    var deliveryid = $(this).attr("data-deliveryid");
                    var voucherid = $(this).attr("data-voucherid");
                    var model = {
                        TypePayment: TypePayment,
                        TypePaymentVN: TypePaymentVN,
                        Price: Price,
                        Note: Note,
                        Deliveryid: deliveryid,
                        voucherID: voucherid
                    }
                    if (deliveryid > 0) {
                        $.ajax({
                            url: "@Url.RouteUrl("checkout")",
                            type: "POST",
                            data: model,
                            success: function (result) {
                                if (result.success) {
                                    if (result.code == 1) {
                                        window.location.href = "/Delivery/Index";
                                    }
                                    else {
                                        window.location.href = result.url;
                                    }
                                }
                            }
                        });
                    } else {
                        $("#Payment-result").text("Vui lòng chọn địa chỉ nhận hàng trước khi thanh toán!").css("color", "red");
                    }

                });
            });    
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Lắng nghe sự kiện khi radio button thay đổi
                var radioButtons = document.getElementsByName("address_radio");
                var btn_checkout = document.querySelector("#btn_checkout");
                radioButtons.forEach(function (radioButton) {
                    radioButton.addEventListener("change", function () {
                        // Kiểm tra xem radio button có được chọn hay không
                        if (radioButton.checked) {
                            var deliveryid = $(this).attr("data-deliveryid");
                            btn_checkout.setAttribute('data-deliveryid', deliveryid);
                            $("#delete_address").click(function (event) {
                                event.preventDefault();
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.RouteUrl("deleteaddress")",
                                    data: {
                                        deliveryid: deliveryid
                                    },
                                    success: function (result) {
            @* $(".Contain_all_payment").html(result); *@
                                            window.location.href = "@Url.RouteUrl("index")";
                                    }
                                });
                            });
                            // Lấy thông tin từ radio button đã chọn
                            var name = document.getElementById("TNN_" + deliveryid).innerText;
                            var phoneNumber = document.getElementById("SDT_" + deliveryid).innerText;
                            var address = document.getElementById("DIACHI_" + deliveryid).innerText;

                            // Hiển thị thông tin tương ứng
                            document.getElementById("show_name").innerText = name;
                            document.getElementById("show_phoneNumber").innerText = "(+84)" + phoneNumber;
                            document.getElementById("show_address").innerText = address;
                        }
                    });
                });
            });
        </script>
    }
</div>
