@model IEnumerable<App.DBModels.PL_SP>

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

<h1>Phân loại sản phẩm</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới loại sản phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.TENPL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++i)</td>
            <td>
                @Html.DisplayFor(modelItem => item.TENPL)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.MAPL">
                    <i class="fa-solid fa-pen-to-square fa-solid_icon" style="color: #12f33f;font-size: 24px;"></i>
                </a> 
                <a asp-action="Details" asp-route-id="@item.MAPL">
                    <i class="fa-solid fa-eraser fa-solid_icon" style="color: red;font-size: 24px;"></i>
                </a> 
                <a asp-action="Delete" asp-route-id="@item.MAPL">
                    <i class="fa-solid fa-shirt fa-solid_icon" style="color: blue;font-size: 24px;"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
