@model App.DBModels.CHITIETSANPHAM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CHITIETSANPHAM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MAUSAC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MAUSAC.HEX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SIZE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SIZE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SANPHAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SANPHAM.MASP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MACTSP">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
