@using DAFW_IS220.Models;
@model List<OrderFeedback>

@section css {
    <link rel="stylesheet" href="/css/feedback.css">
}


<!--body-->
<div class="review-heading">
    <h1>FEEDBACK</h1>
</div>

<div class="row justify-content-center">
    <h5 style="text-align: center;">Đánh giá sản phẩm đơn hàng @ViewBag.MADH</h5>
    @foreach (var item in Model)
    {
        if (item.dANHGIA == null)
        {
            <div id="review">

                <div class="review-box-container">
                    <div class="review-box">

                        <div class="profile-image">
                            <img src="http://localhost:5235/contents/Img/Product/@item.orderDetailModel.sANPHAM.MainImg" alt="">
                        </div>

                        <div class="product-name">
                            <span id="header-product-name">@item.orderDetailModel.sANPHAM.TENSP</span>
                            <span>Màu: @item.orderDetailModel.mAUSAC.TENMAU</span>
                            <span>Size: @item.orderDetailModel.sIZE.Size</span>
                            <div class="reviews">
                                <i class="fa-solid fa-star" id="feedback@(item.orderDetailModel.cHITIETSANPHAM.MACTSP)"
                                    data-productdetailid="@item.orderDetailModel.cHITIETSANPHAM.MACTSP"></i>
                                <i class="fa-solid fa-star" id="feedback@(item.orderDetailModel.cHITIETSANPHAM.MACTSP)"
                                    data-productdetailid="@item.orderDetailModel.cHITIETSANPHAM.MACTSP"></i>
                                <i class="fa-solid fa-star" id="feedback@(item.orderDetailModel.cHITIETSANPHAM.MACTSP)"
                                    data-productdetailid="@item.orderDetailModel.cHITIETSANPHAM.MACTSP"></i>
                                <i class="fa-solid fa-star" id="feedback@(item.orderDetailModel.cHITIETSANPHAM.MACTSP)"
                                    data-productdetailid="@item.orderDetailModel.cHITIETSANPHAM.MACTSP"></i>
                                <i class="fa-solid fa-star" id="feedback@(item.orderDetailModel.cHITIETSANPHAM.MACTSP)"
                                    data-productdetailid="@item.orderDetailModel.cHITIETSANPHAM.MACTSP"></i>
                            </div>
                            <textarea name="review-content" id="review-content@(item.orderDetailModel.cHITIETSANPHAM.MACTSP)"
                                cols="30" rows="5" placeholder="Viết đánh giá"></textarea>
                            <div class="btn-send">
                                <button data-orderid="@item.orderDetailModel.MADH" class="button_feedback"
                                    style="color: white;">Đánh giá</button>
                            </div>
                            <div>
                                <span id="notify_error" style="color: red;"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
        else
        {
            var rating = item.dANHGIA.SOSAO;
            var feedback = item.dANHGIA.NOIDUNG;
            <div id="review">

                <div class="review-box-container">
                    <div class="review-box">

                        <div class="profile-image">
                            <img src="http://localhost:5235/contents/Img/Product/@item.orderDetailModel.sANPHAM.MainImg" alt="">
                        </div>

                        <div class="product-name">
                            <span id="header-product-name">@item.orderDetailModel.sANPHAM.TENSP</span>
                            <span>Màu: @item.orderDetailModel.mAUSAC.TENMAU</span>
                            <span>Size: @item.orderDetailModel.sIZE.Size</span>
                            <div class="reviews">
                                @{
                                    for (int i = 0; i < rating; i++)
                                    {
                                        <i class="fa-solid fa-star rating-star" id="feedback@(item.orderDetailModel.cHITIETSANPHAM.MACTSP)"
                                            data-productdetailid="@item.orderDetailModel.cHITIETSANPHAM.MACTSP"></i>
                                    }
                                    for (int j = rating; j < 5; j++)
                                    {
                                        <i class="fa-solid fa-star" id="feedback@(item.orderDetailModel.cHITIETSANPHAM.MACTSP)"
                                            data-productdetailid="@item.orderDetailModel.cHITIETSANPHAM.MACTSP"></i>
                                    }
                                }
                            </div>
                            <textarea name="review-content" id="review-content@(item.orderDetailModel.cHITIETSANPHAM.MACTSP)"
                                cols="30" rows="5" placeholder="">@feedback</textarea>
                            <div class="btn-send">
                                <button data-orderid="@item.orderDetailModel.MADH" class="button_feedback"
                                    style="color: white;">Cập nhật</button>
                            </div>
                            <div>
                                <span id="notify_error" style="color: red;"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    }
</div>

<div class="space" style="height: 100px;"></div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var rating_stars = document.querySelectorAll(".rating-star");
            rating_stars.forEach(star => {
                star.style.color = "#ffd93b";
            })
            var stars = document.querySelectorAll(".fa-star");
            var rating;
            var productdetailid = 0;
            var feedback_text;
            stars.forEach((star, index) => {
                star.onclick = function () {
                    productdetailid = $(this).attr("data-productdetailid");
                    var stars_of_product = document.querySelectorAll("#feedback" + productdetailid);
                    var star_number = (index % 5) + 1;
                    if (star_number == 0) star_number = 5;
                    rating = star_number;
                    console.log("Đánh giá sản phẩm id " + productdetailid + ": " + rating + "s");
                    for (let i = 0; i < star_number; i++) {
                        stars_of_product[i].style.color = "#ffd93b";
                    }
                    for (let i = star_number; i < stars_of_product.length; i++) {
                        stars_of_product[i].style.color = "#e4e4e4";
                    }
                };
            });
            $(".button_feedback").click(function (event) {
                event.preventDefault();
                var feedback = $("#review-content" + productdetailid).val();
                var orderid = $(this).attr("data-orderid");
                if (productdetailid == 0) {
                    $("#notify_error").text("Vui lòng chọn số sao đánh giá");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "@Url.RouteUrl("confirmfeedback")",
                        data: {
                            productdetailid: productdetailid,
                            rating: rating,
                            feedback: feedback,
                            orderid: orderid
                        },
                        success: function (result) {
                            if (result.success) {
                                window.location.href = "/Delivery/FeedBack/" + result.orderid;
                            } else {
                                console.error("Đã xảy ra lỗi!");
                            }

                        }
                    });
                }
            });
        });
    </script>
}
