@model IEnumerable<App.DBModels.MAUSAC>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý màu sắc</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TENMAU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HEX)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TENMAU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HEX)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MAMAU">
                    <i class="fa-solid fa-pen-to-square fa-solid_icon" style="color: #12f33f;font-size: 24px;"></i>
                </a> 
                <a asp-action="Delete" asp-route-id="@item.MAMAU">
                    <i class="fa-solid fa-eraser fa-solid_icon" style="color: red;font-size: 24px;"></i>
                </a> 

            </td>
        </tr>
}
    </tbody>
</table>
